<!DOCTYPE html>
<html>
<head>
  <title>Asteroids</title>
  <link rel="stylesheet" href="css/asteroidstyle.css" media="screen" title="no title" charset="utf-8">
</head>

<body>
  <div id="backdrop">
    <h1 id="title">Asteroids!</h1>
    <h2 id = "controls">Use W-A-S-D to move ship and Spacebar to shoot.</h2>
    <div id="restartWrapper">
      <button id="restart">Restart Game!</button>

    </div>

    <div id="pointsWrapper">
      <h2 id = "points_tag">Points: </h2>
      <h2 id = "points"></h2>

    </div>

    <div id="gameCanvas">
      <canvas width= "1100" height="700"></canvas>
    </div>

  </div>

  <script src="js/asteroids/moving_object.js"></script>
  <script src="js/asteroids/asteroid.js"></script>
  <script src="js/asteroids/game.js"></script>
  <script src="js/asteroids/ship.js"></script>
  <script src="js/asteroids/keymaster.js"></script>
  <script src="js/asteroids/bullet.js"></script>

  <script>
    var canvas = document.getElementsByTagName("canvas")[0];
    var c = canvas.getContext('2d');
    new Asteroids.Game(c).start();
  </script>
</body>
</html>
